body {
  margin: 0;
}

.hero_ {
  background-image: url("./assets/images/topimage-min.png");
  height: 110vh;
  background-size: cover;
}
.logo {
  width: 45px !important;
}
.nav_item {
  font-weight: bold;
  font-style: italic;
  color: white;
  font-size: 13px;
}
.sec_item {
  font-size: 13px;
  color: #414f6b;
  font-weight: bold;
  font-style: italic;
}
.history_ {
  background-image: url("./assets/images/peak-min.png");
  height: 110vh;
  background-size: cover;
  position: relative;
}
.num_one {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  opacity: 0.5;
  font-size: 136px;
  color: #414f6b;
  font-weight: 700;
  font-family: "Oswald";
}
.history_h {
  color: #414f6b;
  font-weight: 700;
  font-size: 31px;
  position: absolute;
  top: 110px;
  left: 375px !important;
  font-family: "Oswald";
}
.climb__ {
  color: #414f6b;
  font-weight: 700;
  font-size: 31px;
  position: absolute;
  top: 110px;
  left: 390px !important;
  font-family: "Oswald";
}
.history_text {
  position: absolute;
  width: 55%;
  font-size: 15px;
  line-height: 25px;
  top: 200px;
  margin-left: 100px;
}
.climb_ {
  position: relative;
}
.climb__ {
  left: 402px;
}
.climb_text {
  color: black;
}
.mountain_1_2 {
  background-color: #3d4d6b;
  /* display: flex; */
}
.mountain_p_1 {
  margin: 0;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  padding: 12px;
  background-color: #b1b5bf;
  color: #3d4d6b;
  text-decoration: underline;
  font-family: "Oswald";
}
.mountain_p_2 {
  margin: 0;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  font-family: "Oswald";
  padding: 12px;
  background-color: #3d4d6b;
  color: #b1b5bf;
}
.not_active {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  font-family: "Oswald";
  padding: 12px;
  background-color: #3d4d6b;
  color: #b1b5bf;
  cursor: pointer;
}
.schedule {
  background-color: rgba(255, 255, 255, 0.461);
  width: fit-content;
  margin-top: 50px;
  padding: 20px;
}
.sch_head {
  color: #3d4d6b;
  font-weight: bold;
  font-size: 30px;
  font-family: "Oswald";
}
.footer_ {
  background-color: #3e4e6c;
}
.copyright_text {
  color: #5d6f8f;
  font-weight: bold;
  font-size: 12px;
  font-style: italic;
}

.last_sec {
  background-image: url("./assets/images/tab1-min.png");
  height: 110vh;
  background-size: cover;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  /* font-size: 18px; */
  /* background: #fff; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
}

.swiper {
  width: 100%;
  height: 100px;
  background-color: #3d4d6b9f;
  margin: 20px auto;
}
.carousel_ {
  position: absolute;
  background-color: #3d4d6b9f;
  /* height: 180px; */
  /* top: 500px; */
  bottom: 0;
}
.carousel-wrapper {
  /* position: relative; */
}

@media (max-width: 576px) {
  .nav_ {
    display: flex;
    flex-direction: column;
  }
  .tabs {
    display: flex;
    flex-direction: column !important;
    text-align: center;
  }
  .tabs a {
    text-decoration: none;
    background-color: #3d4d6b9f;
    padding: 10px;
    width: 200px !important;
  }
  .nav_item_1 {
    margin-top: 20px;
  }
  .text_logo {
    width: 130px !important;
    margin-bottom: 20px;
  }
  .history_h {
    color: #414f6b;
    font-weight: 700;
    font-size: 31px;
    position: absolute;
    top: 110px;
    left: 160px;
    font-family: "Oswald";
  }
  .section_2_text {
    display: flex;
    flex-direction: column;
    gap: 10px !important;
  }
  .climb_text {
    text-align: center;
  }
  .history_h {
    color: #414f6b;
    font-weight: 700;
    font-size: 31px;
    position: absolute;
    top: 110px;
    left: 150px !important;
    font-family: "Oswald";
  }
  .climb__ {
    color: #414f6b;
    font-weight: 700;
    font-size: 31px;
    position: absolute;
    top: 110px;
    left: 240px !important;
    font-family: "Oswald";
  }
}
